
.App-header {
  font-family: Impact, Arial;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: #FFFFFF;

}

.route {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.number {
  font-size: 40px;
}

.prev_nums {
  font-size: 25px;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color:green;
}

body {
  align-content: center;
}


button {
  border: none;
  background-color: green;
  color: white;
  padding: 15px 32px;
  border-radius: 25px;
  align-self: center;
  text-align: left;
  font-size: 16px;
}
